apiVersion: v1
kind: Secret
metadata:
  name: api-secret
type: Opaque
stringData:
  DB_CONNECTION_STRING: "Host=fastfood-soat-postgres-server-flexible.postgres.database.azure.com;Port=5432;Database=fastfood_db;Username=postgresadmin;Password=SenhaSuperForte@123"
  MP_ACCESS_TOKEN: "APP_USR-4468797669728370-080316-d7c33274621b33615fceb2b64258cc7e-2603358510"