name: SonarCloud Analysis
on:
  push:
    branches: [ "feature/*", "main", "master" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  sonar:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Build and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet-sonarscanner begin /k:"NaskIII_soat-payment-service" /o:"naskiii" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.opencover.reportsPaths="**/TestResults/**/coverage.opencover.xml" /d:sonar.coverage.exclusions="**Infraestructure**,**FastFoodPaymentService**,**Program.cs**,**DependencyInjection.cs**,**Migrations**,**Dtos**"
          dotnet build .\FastFoodPaymentService.sln
          dotnet test .\FastFoodPaymentService.sln --settings coverlet.runsettings --results-directory TestResults
          dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"